.list {
  list-style: none;
  background-color: burlywood;
  padding: 10px;
  margin: 5px;
}

.color {
  color: red;
  background-color: lightgray;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.font {
  font-size: 20px;
}
